.muni2 {
	fill: none;
}

.muni3 {
	opacity: 0;
}

.pobre {
	fill: none;
	stroke: #636363;
	stroke-width: 0.4;
}

.rico {
	fill: none;
	stroke: blue;
	stroke-width: 0.4;
}

.slctd{
	stroke: #636363;
	stroke-width: 2;
}